<h1>Nearest Fuel Stations</h1>

<ul>
  <% @stations.each do |station|  %>
    <li><%= station.station_name %></li>
      <ul>
        <li>
          Address:
          <%= station.street_address %><br>
          <%= station.city %>
          <%= station.state %>
          <%= station.zip %>
        </li>
        <li>Fuel Type: <%= station.fuel_type_code %></li>
        <li>Distance: <%= station.distance %></li>
        <li>Access Times: <%= station.access_days_time %></li>
      </ul>
  <% end %>
</ul>
